
body {
    padding: 0;
    margin: 0;
}

.App {
    text-align: center;
  }
  
  .App-logo {
    height: 45vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      /*animation: App-logo-spin infinite 20s linear;*/
      margin-left: 30px;
      margin-top: 10%;
      margin-bottom: 9%;
    }
  }
  
  .App-header {
    background-color: #3c578d;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #ece759;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @font-face {
    font-family: Jamsil;
    src: url(./The\ Jamsil\ 5\ Bold.ttf);
  }

.container{
    color:white;
    display: flex;
    flex-grow: 1;
}


.left{
    height: 100%;
    color:white;
    width: 30%;
    background-color: #263747;
    overflow: auto;
    max-height: 100vh;
}

.left::-webkit-scrollbar{
    height: auto;
}

.left::-webkit-scrollbar-thumb{
    background-color:#061523;
}

.left::-webkit-scrollbar-track{
    background-color: #24303b;
}

.title, .constraint, .testcaseContainer, .testcaseTitle{
    border-color: #061523;
    border-style: solid;
    border-width: 3px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
}

.title button{
    height: 50px;
}

.right{
    width:70%;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 3px;
    border-color: #0C151C;
}

.executionResult{
    background-color: black;
    height: 30%;
}

.executionTitle{
    background-color:#263747;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    /* border-style: solid;
    border-width: 3px;
    border-left-width: 0px;
    border-color: #0C151C; */
}

.executionTitleContainer{
    display: flex;
    justify-content: space-between;
    background-color: #263747;
    /* border-style: solid;
    border-width: 3px;
    border-left-width: 0px;
    border-color: #0C151C; */
}

.testcase CusButton {
    margin: 2px;
}

.flexSpacearound{
  display: flex;
  justify-content: space-around;
}